<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Login</title>
</head>

<body class="bg-gradient-to-br from-blue-200 via-green-200 to-yellow-200 h-screen r">

    <div class="grid grid-cols-6 h-screen">
        <div class="col-start-3 col-span-2 flex items-center justify-center">
            <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
                <div class="text-lg pb-2">
                    <a href="/" class="underline">Home</a>
                    <span class="mx-1"> > </span>
                    <span>Sign in</span>
                </div>
                <h6 class="pt-2 text-2xl font-semibold">Login to your account</h6>
                <form action="/session" method="post" class="mt-4">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-600">Email:</label>
                        <input type="email" name="email"
                            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-green-500">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-sm font-medium text-gray-600">Password:</label>
                        <input type="password" name="password"
                            class="mt-1 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-green-500">
                    </div>
                    <a href="/changepass" class="text-blue-500 hover:underline text-sm">Forgot Password?</a>
                    <div class="mt-4">
                        <button type="submit"
                            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Sign
                            in</button>
                    </div>
                </form>
                <div class="mt-4 text-sm text-red-700">
                    <% if(messages && messages.error && messages.error.length> 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <li>
                                <%= messages.error[i] %>
                            </li>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>